*.o
test-blkid
test-cmd-blockdev
test-cmd-btrfs-filesystem-df
test-cmd-btrfs-filesystem-show
test-cmd-btrfs-qgroup-show
test-cmd-btrfs-subvolume-get-default
test-cmd-btrfs-subvolume-list
test-cmd-cryptsetup-bitlk-dump
test-cmd-cryptsetup-luks-dump
test-cmd-df
test-cmd-dmsetup-info
test-cmd-dmsetup-table
test-cmd-dumpe2fs
test-cmd-lsscsi
test-cmd-lvs
test-cmd-mdadm-detail
test-cmd-ntfsresize
test-cmd-nvme-list
test-cmd-nvme-list-subsys
test-cmd-pvs
test-cmd-resize2fs
test-cmd-stat
test-cmd-udevadm-info
test-cmd-vgs
test-dasdview
test-dir
test-dmraid
test-lsattr
test-mdlinks
test-multipath
test-parted
test-proc-mdstat
test-proc-mounts
