*.o
test-blkid
test-cmd-btrfs-filesystem-show
test-cmd-btrfs-subvolume-list
test-cmd-btrfs-subvolume-get-default
test-cmddf
test-cmddmsetupinfo
test-cmddmsetuptable
test-cmdlvs
test-cmdpvs
test-cmdudevadminfo
test-cmdvgs
test-dir
test-lsattr
test-lsscsi
test-mdadmdetail
test-mdadmexamine
test-mdlinks
test-parted
test-procmdstat
test-procmounts
test-procparts
